<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="top-page d-sm-flex pt-5">
                    <div class="top-text mt-sm-5 mb-5">
                        <h1 class="lh">Home Repair</h1>
                        <h2 class="lh">& Renovating</h1>
                            <div class="text mt-4">Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            <div class="text mt-2 mb-3 mb-sm-4">Image from <b>Freepik</b></div>
                            <div class="btn-read">
                                <a href="">READ MORE</a>
                            </div>
                    </div>
                    <div class="top-img1 ml-sm-auto mr-sm-5">
                        <img class="img-cover" src="images/gfb.jpg" alt="">
                    </div>
                    <div class="top-img2">
                        <img class="img" src="images/v-min.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row target-b mt-5">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="target">
                    <div class="target-item d-sm-flex">
                        <div class="item mr-1">
                            <div class="item-icon mx-auto"></div>
                            <div class="item-htext mt-3">
                                <h5>HOME CLEANING</h5>
                            </div>
                            <div class="item-text text pr-4 pl-4 pb-4 pt-2 mx-auto">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis
                                suscipit ultrices.
                            </div>
                        </div>
                        <div class="item mr-1 ml-1">
                            <div class="item-icon mx-auto"></div>
                            <div class="item-htext mt-3">
                                <h5>HOME CLEANING</h5>
                            </div>
                            <div class="item-text text pr-4 pl-4 pb-4 pt-2 mx-auto">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis
                                suscipit ultrices.
                            </div>
                        </div>
                        <div class="item mr-1 ml-1">
                            <div class="item-icon mx-auto"></div>
                            <div class="item-htext mt-3">
                                <h5>HOME CLEANING</h5>
                            </div>
                            <div class="item-text text pr-4 pl-4 pb-4 pt-2 mx-auto">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis
                                suscipit ultrices.
                            </div>
                        </div>
                        <div class="item ml-1">
                            <div class="item-icon mx-auto"></div>
                            <div class="item-htext mt-3">
                                <h5>HOME CLEANING</h5>
                            </div>
                            <div class="item-text text pr-4 pl-4 pb-4 pt-2 mx-auto">
                                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo
                                sagittis
                                suscipit ultrices.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
</body>

</html>