.u-section-1 {
  background-image: url("images/vbbb.jpg");
  background-position: 50% 50%;
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 0;
}

.u-section-1 .u-shape-1 {
  width: 75px;
  height: 75px;
  margin: 0 455px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 23px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 518px;
  background-image: url("images/vv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 429px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 315px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 427px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 292px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 5px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 15px;
    margin-right: 146px;
  }

  .u-section-1 .u-image-1 {
    min-height: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 810px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 50px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 609px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 566px;
}

.u-section-2 .u-text-1 {
  width: 525px;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  width: 525px;
  margin: 11px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 223px;
  height: 223px;
  background-image: url("images/vbb2.jpg");
  background-position: 50% 50%;
  margin: 64px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 126px;
  min-width: 94px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 200px;
    height: 200px;
    margin-top: 124px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-2 .u-image-1 {
    width: 174px;
    height: 174px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-2 .u-image-1 {
    width: 129px;
    height: 129px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 429px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  width: 525px;
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 291px;
  grid-gap: 15px 15px;
  grid-auto-columns: calc(33.3333% - 10px);
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 19px;
}

.u-section-3 .u-image-1 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  width: 226px;
  margin: 14px auto 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 19px;
}

.u-section-3 .u-image-2 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  width: 226px;
  margin: 14px auto 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 19px;
}

.u-section-3 .u-image-3 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  width: 226px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 254px;
  }

  .u-section-3 .u-image-1 {
    height: 183px;
  }

  .u-section-3 .u-image-2 {
    height: 183px;
  }

  .u-section-3 .u-image-3 {
    height: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 15px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 584px;
    grid-auto-columns: calc(50% - 7.5px);
  }

  .u-section-3 .u-image-1 {
    height: 210px;
  }

  .u-section-3 .u-image-2 {
    height: 210px;
  }

  .u-section-3 .u-image-3 {
    height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -22px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 927px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 259px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    height: 259px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    height: 259px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -200px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 698px;
  }

  .u-section-3 .u-image-1 {
    height: 163px;
  }

  .u-section-3 .u-image-2 {
    height: 163px;
  }

  .u-section-3 .u-image-3 {
    height: 163px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 481px;
}

.u-section-4 .u-text-1 {
  width: 371px;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: -32px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 361px;
}

.u-section-4 .u-container-layout-1 {
  padding: 1px 20px 0;
}

.u-section-4 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 270px;
  min-height: 179px;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 1px 20px 0;
}

.u-section-4 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 1px 20px 0;
}

.u-section-4 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 1px 20px 0;
}

.u-section-4 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 1px auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 1px 20px 0;
}

.u-section-4 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-4 .u-group-5 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 1px 20px 0;
}

.u-section-4 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 1px auto 0 0;
}

.u-section-4 .u-group-6 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-4 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-bottom: -80px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 488px;
  }

  .u-section-4 .u-group-1 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-2 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-3 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-4 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-5 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-6 {
    width: 201px;
    min-height: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -261px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -300px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1006px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-3 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-4 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-5 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
  }

  .u-section-4 .u-container-layout-11 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-6 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -306px;
  }

  .u-section-4 .u-group-1 {
    width: 235px;
  }

  .u-section-4 .u-group-2 {
    width: 235px;
  }

  .u-section-4 .u-group-3 {
    width: 235px;
  }

  .u-section-4 .u-group-4 {
    width: 235px;
  }

  .u-section-4 .u-group-5 {
    width: 235px;
  }

  .u-section-4 .u-group-6 {
    width: 235px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 510px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 15px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px 20px 20px;
}

.u-section-5 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2.25rem;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-form-1 {
  height: 308px;
  margin: 0 -40px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }
}