#back{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #478ac9;
    cursor: pointer;
}
#back i{
    color: white;
    padding: 18px;
}

.page-p {
    padding: 0px 12%;
}
.lh {
    line-height: 1.1;
}
.txt-center {
    text-align: center;
}
.txt-color-b {
    color: #478ac9 !important;
}
.txt-color-w {
    color: white !important;
}
.txt-color-r {
    color: #db545a !important;
}
.txt-i {
    font-style: italic;
}

.btn-read a {
    border: 2px solid #454545;
    color: black;
    text-decoration: none;
}
.btn-read a:hover {
    color: white;
    background-color: #454545;
}

.top-page .top-text h1 {
    font-weight: 700;
}
.top-page .top-text h2 {
    font-weight: 400;
    color: #b3b3b3;
}

.top-page .top-img {
    position: relative;

    width: 100%;
}
.top-page .top-img .img-up {
    position: absolute;

    bottom: 0;
    height: auto;
}
.top-page .top-img .img-down {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about1 {
    background-color: #e5e5e5;
    padding: 75px 0;
}
.about1 .content {
    width: 55%;
}
.about1 .text {
    letter-spacing: 1px;
    line-height: 2;
    font-size: 1.125rem;
    font-weight: 400;
}
.about1 .btn-learn a {
    border: 2px solid #478ac9;
    background-color: #478ac9;
    text-decoration: none;
}
.about1 .btn-learn a:hover {
    color: #478ac9;
    background-color: white;
}

.repair {
    background-image: url("images/bfmin.jpg");
    background-size: cover;
    background-position: center;
}
.repair .box-content {
    width: 415px;
}
.repair .box-content .box-text {
    width: 100%;
    border: 5px solid #f1c50e;
    background-color: #478ac9;
}
.repair .box-content .box-text h5 {
    font-size: 2.25rem;
    letter-spacing: 3px;
    font-weight: 600;
}
.repair .box-content .box-text h1 {
    letter-spacing: -5px;
    font-size: 6rem;
    font-weight: 500;
    font-family: inherit;
}
.repair .box-content .box-text hr {
    border-top: 8px solid #f1c50e;
}

.about2 .about-img {
    position: relative;
    background-color: #e5e5e5;
    width: 50%;
}
.about2 .about-img .img {
    position: absolute;
    background-color: #478ac9;
    right: -50px;
}
.about2 .about-img .img::after {
    position: absolute;
    left: 50px;
    bottom: 50px;
    content: "";
    background-color: red;
    width: 100%;
    height: 100%;
    background-image: url(images/14251-min.jpg);

    background-size: cover;
    background-position: center;
}
.about2 .about-text-boder {
    width: 50%;
}
.footer {
    background-color: #1a1a1a;
}
@media (max-width: 576px) {
    .full-w {
        width: 100% !important;
    }
    .top-page h1 {
        font-size: 2.5rem;
    }
    .top-page h2 {
        font-size: 2rem;
    }
    .top-page .top-img .img-up {
        width: 75%;
        right: 0;
    }
    .about1 {
        margin-top: 50px;
        padding: 45px 0;
    }
    .about1 .text {
        font-size: 1rem;
    }
    .repair .box-content {
        width: 250px;
    }
    .repair .box-content .box-text h5 {
        font-size: 1.75rem;
        letter-spacing: 4px;
    }
    .repair .box-content .box-text h1 {
        letter-spacing: -5px;
        font-size: 3.5rem;
    }
    .repair .box-content .box-text hr {
        border-top: 8px solid #f1c50e;
    }
    .about2 .about-img {
        display: none !important;
    }
    .about2 .about-text-boder {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 993px) and (min-width: 577px) {
    .top-page h1 {
        font-size: 4.5rem;
    }
    .top-page h2 {
        font-size: 2.5rem;
    }
    .top-page .img-down {
        object-position: right -50px bottom 0px;
    }
    .top-page .top-img .img-up {
        width: 100%;
        right: 0;
    }
    .about2 .about-img .img {
        height: 215px;
        width: 325px;
    }
    .about2 .about-text-boder {
        padding: 100px 0;
        padding-left: 100px;
    }
}
@media (max-width: 1201px) and (min-width: 993px) {
    .top-page .top-img .img-up {
        width: 100%;
        right: 0;
    }
    .top-page .top-img .img-up {
        width: 75%;
        right: 0;
    }
    .about2 .about-img .img {
        height: 300px;
        width: 525px;
    }
    .about2 .about-text-boder {
        padding: 150px 0;
        padding-left: 50px;
    }
}
@media (min-width: 1201px) {
    .top-page .top-img .img-up {
        width: 75%;
        right: 0;
    }
    .about2 .about-img .img {
        height: 390px;
        width: 615px;
    }
    .about2 .about-text-boder {
        padding: 200px 0;
        padding-left: 50px;
    }
}

@media (min-width: 769px) {
    .top-page h1 {
        font-size: 5.5rem;
    }
    .top-page h2 {
        font-size: 3.75rem;
    }
    .btn-read a {
        padding: 8px 35px;
    }
    .top-page .img-down {
        object-position: right 0px bottom 0px;
    }

    .about1 .title h1 {
        font-size: 4rem;
    }
    .about1 .btn-learn a {
        padding: 8px 35px;
    }
}
@media (max-width: 769px) {
    .btn-read a {
        padding: 5px 25px;
    }
    .top-page .top-img {
        display: none;
    }

    .about1 .title h1 {
        font-size: 2.75rem;
    }
    .about1 .btn-learn a {
        padding: 5px 25px;
    }
}
