body {
    color: black;
}
a {
    color: black;
    text-decoration: none !important;
}
.b-img {
    background-image: url("images/back.jpg");
    background-position: center;
    background-size: contain;
}

.main-title {
    font-weight: 400;
    line-height: 1.1;
}
.main-title .title {
    font-family: Roboto, sans-serif;

    border-bottom-style: solid;
    border-color: #db545a;
}
.profile-text-items {
    width: 100%;
}
.main-profile .img {
    height: auto;

    border-radius: 50%;
}
.main-profile .profile-text .title {
    font-weight: 400;
    line-height: 1.2;
}

@media (max-width: 427px) {
    .text {
        font-size: 00.9rem;
    }
    .b-img {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .m{
        margin: 15px 0px;
    }
    .main-title {
        font-size: 1.2rem;
    }
    .main-title .title {
        border-bottom-width: 2.5px;
    }
    .main-profile .profile-title .text {
        font-size: 1rem;
    }
    .main-profile .profile-text .title {
        font-size: 1.1rem;
    }
    .main-profile .img {
        width: 100px;
    }
}
@media (max-width: 769px) and (min-width: 427px) {
    .b-img {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .lh {
        line-height: 1.5;
    }
    .main-title {
        font-size: 2rem;
    }
    .main-title .title {
        border-bottom-width: 4px;
    }
    .main-profile .profile-title .text {
        font-size: 1.2rem;
    }
    .main-profile .profile-text .title {
        font-size: 1.3rem;
    }
    .main-profile .img {
        width: 125px;
    }
}
@media (min-width: 769px) {
    .b-img {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .lh {
        line-height: 2;
    }
    .main-title {
        font-size: 3rem;
    }
    .main-title .title {
        border-bottom-width: 5px;
    }
    .main-profile .profile-title .text {
        font-size: 1.5rem;
    }
    .main-profile .profile-text .title {
        font-size: 1.5rem;
    }
    .main-profile .img {
        width: 175px;
    }
}

@media (max-width: 769px) {
    .main-menu .img {
        width: 60px;
    }
}
