.page-p {
    padding: 0px 12%;
}
.lh {
    line-height: 1.1;
}
.txt-center {
    text-align: center;
}
.title {
    font-weight: 400;
    line-height: 1.1;
}
.txt-color {
    color: #478ac9 !important;
}

.top-page h1 {
    font-weight: 700;
}
.top-page h2 {
    font-weight: 400;
    color: #b3b3b3;
}
.btn-read a {
    padding: 10px 25px;
    border: 2px solid #454545;
    color: black;
    text-decoration: none;
}
.btn-read a:hover {
    color: white;
    background-color: #454545;
}
.top-page .img-down {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-page .top-img {
    position: relative;
}
.top-page .img-up {
    width: 75%;
    height: auto;
}
.top-page .top-img .img-up {
    position: absolute;
    bottom: 0;
    right: 12%;

    width: 75%;
    height: auto;
}
.target-content {
    position: relative;
    background-color: #478ac9;
    height: 300px;
}
.target-content .target {
    position: absolute;
    top: -40px;
}
.target-content .target .target-item {
    background-color: white;
}
.target-content .target .icon {
    background-color: #478ac9;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.target-content .target h5 {
    font-weight: 700;
}
.target-content .target .text {
    font-style: italic;
    color: #808080;
}

@media (max-width: 576px) {
    .title {
        font-size: 3rem;
    }
    .top-page h1 {
        font-size: 2.5rem;
    }
    .top-page h2 {
        font-size: 2rem;
    }
    .btn-read a {
        padding: 5px 25px;
    }
    .target-content .target .target-item {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .target-content {
        height: 1015px;
    }
}
@media (max-width: 1425px) and (min-width: 576px) {
    .top-page h1 {
        font-size: 2.25rem;
    }
    .top-page h2 {
        font-size: 3rem;
    }
    .top-page .img-down {
        object-position: right -50px bottom 0px;
    }

    .target-content .target .target-item {
        width: 22%;
    }
    .target-content .target h5 {
        font-size: 1.1rem;
    }
}
@media (min-width: 1425px) {
    .top-page h1 {
        font-size: 5.3125rem;
    }
    .top-page h2 {
        font-size: 3.75rem;
    }
    .top-page .img-down {
        object-position: right 0px bottom 0px;
    }
    .target-content .target .target-item {
        width: 18%;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 4.5rem;
    }
    .top-page .top-text {
        width: 40%;
    }
    .top-page .top-img {
        width: 50%;
    }
    .text {
        line-height: 1.8;
    }
    .btn-read a {
        padding: 10px 35px;
    }
}